.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px; /* Aumentando o padding para aumentar a altura */
    background-color: #007BFF; /* Azul */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Nova fonte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.logo img {
    border-radius: 15%; /* Menos arredondada */
    object-fit: cover;
    width: 80px; /* Aumentando o tamanho da logo */
    height: 80px; /* Aumentando o tamanho da logo */
}


.frase-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.frase {
    font-size: 1.4em; /* Aumentando um pouco o tamanho do texto */
    color: #fff; /* Branco */
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra no texto para destaque */
    font-weight: 800;
}
