/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.header_header__wFPaD {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007BFF; /* Azul */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.header_logo__gD3Ck {
    display: flex;
    align-items: center;
}

.header_logo__gD3Ck img {
    border-radius: 15%; /* Menos arredondada */
    object-fit: cover;
    width: 80px; /* Aumentando o tamanho da logo */
    height: 80px; /* Aumentando o tamanho da logo */
}

.header_frase-container__QUxjF {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header_frase__e8cRX {
    font-size: 1.2em;
    color: #fff; /* Branco */
    font-family: 'Arial', sans-serif; /* Fonte diferente */
    margin: 0;
}
